body {
    background-image: url('/static/back.jpg');
}

h1 {
    text-align: center;
}

.grid {
    margin: 0 auto;
    text-align: center;
}

.grid-item {
    background: rgb(256, 256, 256);
    background: rgba(256, 256, 256, 0.8);
    padding: 20px;
    margin-bottom: 20px;
    width: 260px;
}

.square {
    height: 90px;
    width: 120px;
    background-size: cover;
    background-position: center;
    margin: 20px auto;
}

.tag {
    font-size: small;
    color: #999;
}