{% extends 'base.html' %}

{% block main %}
<div class="grid">
  {% for occ in occurrences %}
  <div class="grid-item">

    <div class="date">{{ occ.start.strftime('%A %d %b') }}</div>
    <div class="evtitle">
      {% if occ.event.image_type %}
      <div class="evthumb" style="background-image: url({{ url_for('image', thumb=True, entity_type='event', entity_id=occ.event.id, ext=occ.event.image_type) }});"></div>
      {% endif %}
      <a href="{{ url_for('event', occurrence_id=occ.id) }}">{{ occ.event.title }}</a>
    </div>

    <div class="tags">
      {% for et in occ.event.eventtags %}
      {{ et.tag.name }}
      {% endfor %}
    </div>
    <div class="evinfos">
      {{ occ.start.strftime('%H:%M') }}
      {% if occ.venue %}
      <a href="{{ url_for('venue', venue_id=occ.venue.id) }}">{{ occ.venue.name }}</a>
      {% endif %}
    </div>
  </div>
  {% endfor %}
</div>
<script>
  $('.grid').masonry({
    itemSelector: '.grid-item',
    columnWidth: 300,
    "gutter": 20,
    "fitWidth": true
  });
</script>
{% endblock %}
