<html>
  <head>
    <title>{{ site_title }}</title>
    <script src="{{ url_for('static', filename='js/jquery-3.1.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/masonry.pkgd.min.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" type="text/css" />
  </head>
  <body lang="{{ lang }}">
    <a href="{{ url_for('events') }}">
      <h1 title="{{ site_title|safe }}">{{ site_title|safe }}</h1>
    </a>
    {% block main %}{% endblock %}
  </body>
</html>
