{% extends 'base.html' %}

{% block main %}
<div>
  <p>
    [{% for et in event.eventtags %}
    {{ et.tag.name }}
    {% endfor %}]
  </p>
  <p>
    {{ event.title }}
  </p>
  <p>
    {{ event.description }}
  </p>
  <p>
    {{ event.contact }}
  </p>
  <p>
    {% if event.image_type %}
    <img src="{{ url_for('image', thumb=False, entity_type='event', entity_id=event.id, ext=event.image_type) }}"/>
    {% endif %}
  </p>
  <p>
    <ul>
      {% for occ in event.occurrences %}
      <li>{{ occ.start }} @ {{ occ.venue.name }}</li>
      {% endfor %}
    </ul>
  </p>
</div>
{% endblock %}
